# A quick introduction to the Pandas library

Based on https://github.com/mcrovella/CS506-Computational-Tools-for-Data-Science/blob/master/02B-Pandas.ipynb

## Overview

Pandas is the Python Data Analysis Library, used for loading, processing and generally manipulating datasets efficiently.

It can also be used with matplotlib and other plotting libraries to create nice data visualisations.
Internally, it uses arrays provided by the NumPy library for efficient operation.

The most important tool provided by Pandas is the **data frame** (Class `DataFrame`).

A data frame is a **table** in which each row and column is given a label.

Pandas DataFrames are documented at:

http://pandas.pydata.org/pandas-docs/dev/generated/pandas.DataFrame.html

## Getting started

Import the pandas library as `pd`:

In [1]:
import pandas as pd

## Fetching, storing and retrieving your data

You can fetch data from online sources

In [2]:
df_remote = pd.read_csv(r'https://gist.githubusercontent.com/ariskou/6441e960da38d395b1305e9d388f92d5/raw/62c459a79631efb35ca7000c3fcdf66d2f4a2cc5/height_weight.csv')

Print the first 5 rows of the data

In [3]:
df_remote.head(5)

   Index  Height  Weight
0      1   65.78  112.99
1      2   71.52  136.49
2      3   69.40  153.03
3      4   68.22  142.34
4      5   67.79  144.30

Print some information about the structure of the data.

Note the type of the columns. One is an integer and the other two are floats.

**All the values in the same column MUST be of the same type**

In [4]:
df_remote.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Index   200 non-null    int64
 1   Height  200 non-null    float64
 2   Weight  200 non-null    float64
dtypes: float64(2), int64(1)
memory usage: 4.8 KB

Add a new column named `WeightCopy` which is just a copy of the `Weight` column.

It will have the same type (`float`).

In [6]:
df_remote['WeightCopy'] = df_remote['Weight']
df_remote.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Index       200 non-null    int64
 1   Height      200 non-null    float64
 2   Weight      200 non-null    float64
 3   WeightCopy  200 non-null    float64
dtypes: float64(3), int64(1)
memory usage: 6.4 KB

Change **one** of the values in this new column to a string and show the DataFrame again.

In [7]:
df_remote.loc[3, 'WeightCopy'] = "I'm a string"
df_remote.head(5)

   Index  Height  Weight    WeightCopy
0      1   65.78  112.99        112.99
1      2   71.52  136.49        136.49
2      3   69.40  153.03        153.03
3      4   68.22  142.34  I'm a string
4      5   67.79  144.30         144.3

Now show again the DataFrame structure information, and note that the columnt ype has changed to `object`, which is much more inefficient and can be anything.

In [8]:
df_remote.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Index       200 non-null    int64
 1   Height      200 non-null    float64
 2   Weight      200 non-null    float64
 3   WeightCopy  200 non-null    object
dtypes: float64(2), int64(1), object(1)
memory usage: 6.4+ KB

### Reading data from a local .csv file

You can download the same file https://moodle.imt-atlantique.fr/pluginfile.php/75403/mod_folder/content/0/height_weight.csv?forcedownload=1 from Moodle and put it in the same folder as this current ipynb file.

After this you can read the file locally, without needing access to a network.

In [9]:
df = pd.read_csv(r'height_weight.csv')

In [10]:
df.head(5)

   Index  Height  Weight
0      1   65.78  112.99
1      2   71.52  136.49
2      3   69.40  153.03
3      4   68.22  142.34
4      5   67.79  144.30

## Simple examples with pandas

Get the number of rows in the DataFrame:

In [11]:
len(df)

200

Get the shape of the DataFrame (rows, columns):

In [12]:
df.shape

(200, 3)

## Working with data columns

The columns or "features" in your data

In [13]:
df.columns

Index(['Index', 'Height', 'Weight'], dtype='object')

Selecting a single column from your data

In [14]:
df['Height']

0      65.78
1      71.52
2      69.40
3      68.22
4      67.79
       ...
195    65.80
196    66.11
197    68.24
198    68.02
199    71.39
Name: Height, Length: 200, dtype: float64

Another way of selecting a single column from your data

In [15]:
df.Height

0      65.78
1      71.52
2      69.40
3      68.22
4      67.79
       ...
195    65.80
196    66.11
197    68.24
198    68.02
199    71.39
Name: Height, Length: 200, dtype: float64

Select two columns

In [18]:
df[['Height','Weight']].head()

   Height  Weight
0   65.78  112.99
1   71.52  136.49
2   69.40  153.03
3   68.22  142.34
4   67.79  144.30

Get the first 10 rows

In [19]:
df.Weight.head(10)

0    112.99
1    136.49
2    153.03
3    142.34
4    144.30
5    123.30
6    141.49
7    136.46
8    112.37
9    120.67
Name: Weight, dtype: float64

Get the last 10 rows

In [20]:
df.Weight.tail(10)

190    144.99
191    110.95
192    132.86
193    146.34
194    145.59
195    120.84
196    115.78
197    128.30
198    127.47
199    127.88
Name: Weight, dtype: float64

Changing the column names:

In [22]:
new_column_names = [x.lower().replace('ght','GHT') for x in df.columns]
df.columns = new_column_names
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   index   200 non-null    int64
 1   heiGHT  200 non-null    float64
 2   weiGHT  200 non-null    float64
dtypes: float64(2), int64(1)
memory usage: 4.8 KB

Make all the names lowercase

In [23]:
new_column_names = [x.lower() for x in df.columns]
df.columns = new_column_names
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   index   200 non-null    int64
 1   height  200 non-null    float64
 2   weight  200 non-null    float64
dtypes: float64(2), int64(1)
memory usage: 4.8 KB

Drop a column (delete it)

In [24]:
df.drop('index', axis='columns', inplace=True)
df.head()

   height  weight
0   65.78  112.99
1   71.52  136.49
2   69.40  153.03
3   68.22  142.34
4   67.79  144.30

## Data Frame methods

A DataFrame object has many useful methods.

Get the averages for all the columns

In [25]:
df.mean()

height     67.94980
weight    127.22195
dtype: float64

Get the standard deviations for all the columns

In [26]:
df.std()

height     1.940363
weight    11.960959
dtype: float64

Get the medians for all the columns

In [27]:
df.median()

height     67.935
weight    127.875
dtype: float64

Get the average for just one column

In [28]:
df.weight.mean()

127.22194999999999

The **values** property of the column returns a list of values for the column.

In [29]:
first_weight = df.weight.values[0]
first_weight

112.99

You can apply a function to all the values in a column and store the result in another (or the same column)

In [30]:
df['height_in_cm'] = df.height.apply(lambda h: h*2.54)
df.head()

   height  weight  height_in_cm
0   65.78  112.99      167.0812
1   71.52  136.49      181.6608
2   69.40  153.03      176.2760
3   68.22  142.34      173.2788
4   67.79  144.30      172.1866

In [31]:
df['weight_in_kg'] = df.weight.apply(lambda w: w*0.453592)
df.head()

   height  weight  height_in_cm  weight_in_kg
0   65.78  112.99      167.0812     51.251360
1   71.52  136.49      181.6608     61.910772
2   69.40  153.03      176.2760     69.413184
3   68.22  142.34      173.2788     64.564285
4   67.79  144.30      172.1866     65.453326

Each row in a DataFrame is associated with an index, which is a label that uniquely identifies a row.

In [32]:
df.index

RangeIndex(start=0, stop=200, step=1)

### Accessing rows of the DataFrame

So far we've seen how to access a column of the DataFrame.  To access a row we use a different notation.

To access a row by its index value, use the **`.loc()`** method.

In [33]:
df.loc[5]

height           68.700000
weight          123.300000
height_in_cm    174.498000
weight_in_kg     55.927894
Name: 5, dtype: float64

To access a row by its sequence number (ie, like an array index), use **`.iloc()`** ('Integer Location')

In [41]:
df.iloc[5,:]

height           68.700000
weight          123.300000
height_in_cm    174.498000
weight_in_kg     55.927894
Name: 5, dtype: float64

To iterate over the rows, use **`.iterrows()`**

In [51]:
num_taller_than_average_people = 0
for idx, row in df.iterrows():
    if row.height_in_cm > df.height_in_cm.mean():
        num_taller_than_average_people += 1
        
print(f"The total number of people taller than the average is {num_taller_than_average_people}")

The total number of people taller than the average is 99

## Filtering

It is very easy to select interesting rows from the data.  

All these operations below return a new DataFrame, which itself can be treated the same way as all DataFrames we have seen so far.

In [43]:
tmp_high = df.height_in_cm >= 185
tmp_high.head()

0    False
1    False
2    False
3    False
4    False
Name: height_in_cm, dtype: bool

Summing a Boolean array is the same as counting the number of **`True`** values.

In [44]:
sum(tmp_high)

2

Now, let's select only the rows of **`df`** that correspond to **`tmp_high`**

In [45]:
df[tmp_high]

     height  weight  height_in_cm  weight_in_kg
138   73.90  151.39      187.7060     68.669293
174   73.83  139.30      187.5282     63.185366

Putting it all together, we have the following commonly-used patterns:

In [46]:
very_tall_people = df[df.height_in_cm >= 185]
very_tall_people

     height  weight  height_in_cm  weight_in_kg
138   73.90  151.39      187.7060     68.669293
174   73.83  139.30      187.5282     63.185366

In [47]:
import numpy as np
very_close_to_average_people = df[np.abs(df.height_in_cm - df.height_in_cm.mean()) < 0.5]
very_close_to_average_people

     height  weight  height_in_cm  weight_in_kg
4     67.79  144.30      172.1866     65.453326
8     67.90  112.37      172.4660     50.970133
20    67.83  141.28      172.2882     64.083478
32    67.82  125.79      172.2628     57.057338
38    67.81  131.35      172.2374     59.579309
43    67.97  137.37      172.6438     62.309933
90    68.13  136.55      173.0502     61.937988
104   67.76  114.56      172.1104     51.963500
105   68.02  123.49      172.7708     56.014076
124   67.94  106.86      172.5676     48.470841
127   67.93  119.31      172.5422     54.118062
142   68.01  125.33      172.7454     56.848685
171   67.97  124.21      172.6438     56.340662
172   67.76  124.65      172.1104     56.540243
189   68.08  101.47      172.9232     46.025980
198   68.02  127.47      172.7708     57.819372

## Creating new columns

To create a new column, simply assign values to it.  Think of the columns as a dictionary. Calulate the BMI (weight (kg) / height^2 (m))

In [48]:
df['bmi'] = (df.weight_in_kg / (df.height_in_cm/100)**2)
df.head()

   height  weight  height_in_cm  weight_in_kg        bmi
0   65.78  112.99      167.0812     51.251360  18.359051
1   71.52  136.49      181.6608     61.910772  18.760473
2   69.40  153.03      176.2760     69.413184  22.338581
3   68.22  142.34      173.2788     64.564285  21.503120
4   67.79  144.30      172.1866     65.453326  22.076642

You can also create new categorical comuns like this, based on the values of other columns:

In [50]:
for idx, row in df.iterrows():
    print(idx)
    if row.bmi < 18.5:
        df.loc[idx,'category']='under'
    elif row.bmi >= 18.5 and row.bmi < 25.0:
        df.loc[idx,'category']='average'
    else:
        df.loc[idx,'category']='over'
df.head(10)

   height  weight  height_in_cm  weight_in_kg        bmi category
0   65.78  112.99      167.0812     51.251360  18.359051    under
1   71.52  136.49      181.6608     61.910772  18.760473  average
2   69.40  153.03      176.2760     69.413184  22.338581  average
3   68.22  142.34      173.2788     64.564285  21.503120  average
4   67.79  144.30      172.1866     65.453326  22.076642  average
5   68.70  123.30      174.4980     55.927894  18.367395    under
6   69.80  141.49      177.2920     64.178732  20.417984  average
7   70.01  136.46      177.8254     61.897164  19.574161  average
8   67.90  112.37      172.4660     50.970133  17.135974    under
9   66.78  120.67      169.6212     54.734947  19.024114  average

Here is another, more "functional", way to accomplish the same thing.

Define a function that classifies rows, and **`apply`** it to each row.

In [ ]:
def namerow(row):
    if row.bmi < 18.5:
        return 'under'
    elif row.bmi >= 18.5 and row.bmi < 25.0:
        return 'average'
    else:
        return 'over'

df['test_category'] = df.apply(namerow, axis = 1)

In [ ]:
df.head()

OK, delete that extraneous `test_category`:

In [ ]:
df.drop('test_category', axis = 1, inplace=True)

## Grouping

An **extremely** powerful DataFrame method is **`groupby()`**. 

This is entirely analagous to **`GROUP BY`** in SQL.

It will group the rows of a DataFrame by the values in one (or more) columns, and let you iterate through each group.

Here we will look at the BMI we defined above and stored in column `category`.

In [ ]:
category_groups = df.groupby('category')

Essentially, **`category_groups`** behaves like a dictionary
* whose keys are the unique values found in the `category` column, and 
* whose values are DataFrames that contain only the rows having the corresponding unique values.

In [ ]:
for category, category_data in category_groups:
    print(category)
    print(category_data.head())
    print('=============================')

In [ ]:
for category, category_data in df.groupby("category"):
    print('The average weight value for the {} group is {} kg'.format(category,
                                                           category_data.weight_in_kg.mean()))

# Your turn now