Do any necessary initialisation

In [1]:
import pandas as pd

Load the xyz.csv file from https://gist.githubusercontent.com/ariskou/6441e960da38d395b1305e9d388f92d5/raw/62c459a79631efb35ca7000c3fcdf66d2f4a2cc5/xyz.csv:

In [2]:
df_remote = pd.read_csv(r'https://gist.githubusercontent.com/ariskou/6441e960da38d395b1305e9d388f92d5/raw/62c459a79631efb35ca7000c3fcdf66d2f4a2cc5/xyz.csv')

Print the first 3 rows

In [3]:
df_remote.head(3)

        x       y         z
0  174.23  294.59  50206.23
1  176.34  264.83  53170.51
2  171.09  250.23  43880.04

Print the last 3 rows

In [5]:
df_remote.tail(3)

          x       y         z
297  156.70  306.50  71229.91
298  176.74  218.54  40177.42
299  197.35  354.90  70886.47

## Answer the following questions

1. What are the following values for columns `x` and `y` (but **not** `z`): 
* minimum
* 5th percentile
* 25th percentile (also known as 1st quartile)
* median (also known as 2nd quartile or 50th percentile)
* 75th percentile (also known as 3rd quartile)
* 95th percentile
* maximum

2. Create a new column named `w` which is the product of the values of `x` and `y`. Print the first 5 rows of the data.

3. Find the number of rows where the value of `w` is within one standard deviation from the mean of `w` **AND** where the value of `z` is within (smaller or equal) half a standard deviation from the mean of `z`.

Use the smaller or equal operator (`<=`) for the comparisons.

4. Create a new column named `"devs"` with possible values one of:
* `"four"`, 
* `"two"`, or 
* `"one"` 

The value corresponds to whether the value of `w` (in the same row) is within 4, 2, or 1 standard deviations from the mean of `w`.

Use the smaller or equal operator (`<=`) for the comparisons.

What is the **maximum** of the values of `x` in categories `"one"` and `"two"`?