Do any necessary initialisation

In [1]:
import pandas as pd

Load the xyz.csv file from https://gist.githubusercontent.com/ariskou/6441e960da38d395b1305e9d388f92d5/raw/62c459a79631efb35ca7000c3fcdf66d2f4a2cc5/xyz.csv:

In [2]:
df_remote = pd.read_csv(r'https://gist.githubusercontent.com/ariskou/6441e960da38d395b1305e9d388f92d5/raw/62c459a79631efb35ca7000c3fcdf66d2f4a2cc5/xyz.csv')

Print the first 3 rows

In [3]:
df_remote.head(3)

        x       y         z
0  174.23  294.59  50206.23
1  176.34  264.83  53170.51
2  171.09  250.23  43880.04

Print the last 3 rows

In [5]:
df_remote.tail(3)

          x       y         z
297  156.70  306.50  71229.91
298  176.74  218.54  40177.42
299  197.35  354.90  70886.47

## Answer the following questions

1. What are the following values for columns `x` and `y` (but **not** `z`): 
* minimum
* 5th percentile
* 25th percentile (also known as 1st quartile)
* median (also known as 2nd quartile or 50th percentile)
* 75th percentile (also known as 3rd quartile)
* 95th percentile
* maximum

In [12]:
print('X')
print(df_remote.x.min())
print(df_remote.x.quantile(0.05))
print(df_remote.x.quantile(0.25))
print(df_remote.x.median())
print(df_remote.x.quantile(0.75))
print(df_remote.x.quantile(0.95))
print(df_remote.x.max())


print('Y')
print(df_remote.y.min())
print(df_remote.y.quantile(0.05))
print(df_remote.y.quantile(0.25))
print(df_remote.y.median())
print(df_remote.y.quantile(0.75))
print(df_remote.y.quantile(0.95))
print(df_remote.y.max())

X
150.17
157.8365
167.915
175.325
183.3325
192.73100000000002
211.48
Y
33.35
140.713
233.57
298.83000000000004
373.505
470.84950000000003
635.08

2. Create a new column named `w` which is the product of the values of `x` and `y`. Print the first 5 rows of the data.

In [15]:
df_remote['w'] = df_remote.x*df_remote.y
df_remote.head()

        x       y         z           w
0  174.23  294.59  50206.23  51326.4157
1  176.34  264.83  53170.51  46700.1222
2  171.09  250.23  43880.04  42811.8507
3  169.74  216.75  51461.05  36791.1450
4  178.72  392.96  51301.86  70229.8112

3. Find the number of rows where the value of `w` is within one standard deviation from the mean of `w` **AND** where the value of `z` is within (smaller or equal) half a standard deviation from the mean of `z`.

Use the smaller or equal operator (`<=`) for the comparisons.

In [24]:
first = abs((df_remote.w-df_remote.w.std())<=df_remote.w.mean())

second = abs((df_remote.z-(df_remote.z.std()/2))<=df_remote.z.mean())

final = first & second 


df_remote[final]

          x       y         z           w
0    174.23  294.59  50206.23  51326.4157
1    176.34  264.83  53170.51  46700.1222
2    171.09  250.23  43880.04  42811.8507
3    169.74  216.75  51461.05  36791.1450
4    178.72  392.96  51301.86  70229.8112
..      ...     ...       ...         ...
293  177.51  213.20  34671.82  37845.1320
294  168.49  221.01  48027.08  37237.9749
295  167.66  344.98  45824.39  57839.3468
296  182.74  369.94  53377.13  67602.8356
298  176.74  218.54  40177.42  38624.7596

[175 rows x 4 columns]

4. Create a new column named `"devs"` with possible values one of:
* `"four"`, 
* `"two"`, or 
* `"one"` 

The value corresponds to whether the value of `w` (in the same row) is within 4, 2, or 1 standard deviations from the mean of `w`.

Use the smaller or equal operator (`<=`) for the comparisons.

What is the **maximum** of the values of `x` in categories `"one"` and `"two"`?

In [29]:
for idx, row in df_remote.iterrows():
    if abs(row.w-df_remote.w.std())<=df_remote.w.mean():
        df_remote.loc[idx, 'category']='one'
    elif abs(row.w-df_remote.w.std()*2)<=df_remote.w.mean():
        df_remote.loc[idx, 'category']='two'
    elif abs(row.w-df_remote.w.std()*4)<=df_remote.w.mean():
        df_remote.loc[idx, 'category']='four'

for category, category_data in df_remote.groupby("category"):
    print('The maximum value for the {} group is {} kg'.format(category,
         category_data.x.max()))

The maximum value for the four group is 186.24 kg
The maximum value for the one group is 211.48 kg
The maximum value for the two group is 200.53 kg